
@{
    ViewBag.Title = "Edit Schedule";
}

@using JobManager.Models;

@model ScheduleDetailsModel

@section LeftMenu{
    @{Html.RenderAction("_LeftMenu", "Edit", new { dbServer = ViewBag.ServerName, jobID = ViewBag.JobID });
    }
}

<link href="@Url.Content("~/Content/jquery-ui-timepicker-addon.css")" rel="stylesheet">

@using (Html.BeginForm())
{
    <fieldset>
        <div class="section">
            <h3>Schedule</h3>
            <div class="editor-label">
                Name
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Name)
            </div>
            <br />
            <div class="editor-label">
                Schedule type
            </div>
            <div class="editor-field form-control-container text-left">
                @Html.DropDownListFor(m => m.ScheduleFrequency, (List<SelectListItem>)ViewBag.FreqTypes, null, new { @onchange = "toggleOptionalDisplay(this.value)", @class = "form-control", @id = "freqtype", @style = "width:300px;" })
            </div>
            <br />
            <div class="editor-field">
                Enabled: @Html.CheckBoxFor(m => m.IsEnabled)
            </div>
        </div>

        <div id="OneTime" class="section" hidden>
            <h4>One time</h4>
            <div class="editor-label">
                Date
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.OneTimeStartDate, "{0:dd/MM/yyyy}",  new { @class = "datepicker" })
            </div>
            <div class="editor-label">
                Time
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.OneTimeStartTimeOfDay, new { @class = "timepicker" })
            </div>
        </div>

        <div id="Daily" class="section" hidden>
            <h4>Daily</h4>
            <div class="editor-label">
                Recurs every:
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.DailyRecursEvery, new { @type = "number", @class = "span4", @min = 1 }) day(s)
            </div>
        </div>

        <div id="Weekly" class="section" hidden>
            <h4>Weekly</h4>
            <div class="editor-label">
                Recurs every:
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.WeeklyRecursEvery, new { @type = "number", @class = "span4", @min = 1 }) week(s) on
            </div>
            <div class="editor-field">
                <table style="padding:10px 10px, 10px, 10px; border-spacing:3px; width:100%">
                    <tr>
                        <td>@Html.CheckBoxFor(m => m.WeeklyMonday) Monday</td>
                        <td>@Html.CheckBoxFor(m => m.WeeklyTuesday) Tuesday</td>
                        <td>@Html.CheckBoxFor(m => m.WeeklyWednesday) Wednesday</td>
                        <td>@Html.CheckBoxFor(m => m.WeeklyThursday) Thursday</td>
                        <td>@Html.CheckBoxFor(m => m.WeeklyFriday) Friday</td>
                        <td>@Html.CheckBoxFor(m => m.WeeklySaturday) Saturday</td>
                        <td>@Html.CheckBoxFor(m => m.WeeklySunday) Sunday</td>
                    </tr>
                </table>
            </div>
        </div>


        <div id="Monthly" class="section" hidden>
            <h4>Monthly</h4>
            <div class="editor-label">
                Day
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.MonthlyDayNo)
            </div>
            <div class="editor-label">
                of every
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.MonthlyFrequency) month(s)
            </div>
        </div>

        <div id="MonthlyRelative" class="section" hidden>
            <h4>Monthly from</h4>
            <div class="editor-label">
                The
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(m => m.MonthlyRelativeFreqSubDayType, (List<SelectListItem>)ViewBag.FreqRelativeIntervals)
            </div>
            <div class="editor-label">
                day
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(m => m.MonthlyRelativeSubFreq, (List<SelectListItem>)ViewBag.MonthlyFrequency)
            </div>
            <div class="editor-label">
                of every
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.MonthlyRelativeFreq) month(s)
            </div>
        </div>

        <div id="DailyFrequency" class="section" hidden>
            <h4>Daily frequency</h4>
            <div class="editor-field">
                Occurs once: @Html.CheckBoxFor(m => m.DailyFreqOccursOnce, new { @id = "occursonce" })
            </div>
            <div id="dailyfreqoccursonce" hidden>
                <div class="editor-label">
                    Occurs once at:
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.DailyFreqStartingTime, new { @class = "timepicker" })
                </div>
            </div>
            <div id="dailyfreqoccursevery" hidden>
                <div class="editor-label">
                    Occurs every
                </div>
                <div class="editor-field">
                    <table style="padding:20px 20px, 20px, 20px; border-spacing:5px;">
                        <tr>
                            <td>@Html.TextBoxFor(m => m.DailyFreqOccursEvery)</td>
                            <td>@Html.DropDownListFor(m => m.DailyFreqSubDay, (List<SelectListItem>)ViewBag.SubDayTypes)</td>
                        </tr>
                    </table>
                </div>
                <div class="editor-label">
                    Starting at
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.DailyFreqStartingTime, new { @class = "timepicker" })
                </div>
                <div class="editor-label">
                    Ending at
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.DailyFreqEndingTime, new { @class = "timepicker" })
                </div>
            </div>
        </div>

        <div id="Duration" class="section" hidden>
            <h4>Duration</h4>
            <div class="editor-label">
                Start Date
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.DurationStartDate, "{0:dd/MM/yyyy}", new { @class = "datepicker" })
            </div>
            <div class="editor-label">
                End Date
            </div>
            <div class="editor-field">
                No end date: @Html.CheckBoxFor(m => m.DurationNoEndDate, new { @id = "durationnoenddate" })
            </div>
            <br />
            <div id="durationenddate" hidden>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.DurationEndDate, "{0:dd/MM/yyyy}", new { @class = "datepicker" })
                </div>
            </div>
        </div>

        <div hidden>
            @Html.HiddenFor(m => m.ServerName)
            @Html.HiddenFor(m => m.JobID)
            @Html.HiddenFor(m => m.ScheduleUID)
        </div>

        <div class="btn-block">
            <input type="submit" value="Update Schedule" class="myButton" />
        </div>
    </fieldset>
}

@if (TempData["message"] != null)
{
    <p>@Html.Encode(TempData["message"])</p>
}

@section Scripts {
    <script>
        $(document).ready(function (e) {

            // Set up initial form settings
            toggleOptionalDisplay($("#freqtype").val());
            toggleFreqType();
            toggleDurationEndDate();

            // Date and Time pickers
            $(".datepicker").datepicker({ dateFormat: 'dd-mm-yy', showButtonPanel: true });
            $(".timepicker").timepicker({ timeFormat: 'hh:mm:ss' });
            
            // On change events
            $("#occursonce").change(function () { toggleFreqType(); });
            $("#durationnoenddate").change(function () { toggleDurationEndDate(); });
        })

        function toggleFreqType() {
            //var e = $("#occursonce").is(':checked');
            if ($("#occursonce").is(':checked')) {
                $('#dailyfreqoccursonce').show();
                $('#dailyfreqoccursevery').hide();
            }
            else {
                $('#dailyfreqoccursonce').hide();
                $('#dailyfreqoccursevery').show();
            }
        }

        function toggleDurationEndDate() {
            //var e = $("#durationnoenddate").is(':checked');
            if ($("#durationnoenddate").is(':checked'))
                $('#durationenddate').hide();
            else
                $('#durationenddate').show();
        }

        function toggleOptionalDisplay(e) {
            if (e == "AutoStart" || e == "OnIdle") {
                $('#OneTime').hide();
                $('#Daily').hide();
                $('#Weekly').hide();
                $('#Monthly').hide();
                $('#MonthlyRelative').hide();
                $('#DailyFrequency').hide();
                $('#Duration').hide();
            }
            if (e == "OneTime") {
                $('#OneTime').show();
                $('#Daily').hide();
                $('#Weekly').hide();;
                $('#Monthly').hide();
                $('#MonthlyRelative').hide();
                $('#DailyFrequency').hide();
                $('#Duration').hide();
            }
            if (e == "Daily") {
                $('#OneTime').hide();
                $('#Daily').show();
                $('#Weekly').hide();
                $('#Monthly').hide();
                $('#MonthlyRelative').hide();
                $('#DailyFrequency').show();
                $('#Duration').show();
            }
            if (e == "Weekly") {
                $('#OneTime').hide();
                $('#Daily').hide();
                $('#Weekly').show();
                $('#Monthly').hide();
                $('#MonthlyRelative').hide();
                $('#DailyFrequency').show();
                $('#Duration').show();
            }
            if (e == "Monthly") {
                $('#OneTime').hide();
                $('#Daily').hide();
                $('#Weekly').hide();
                $('#Monthly').show();
                $('#MonthlyRelative').hide();
                $('#DailyFrequency').show();
                $('#Duration').show();
            }
            if (e == "MonthlyRelative") {
                $('#OneTime').hide();
                $('#Daily').hide();
                $('#Weekly').hide();
                $('#Monthly').hide();
                $('#MonthlyRelative').show();
                $('#DailyFrequency').show();
                $('#Duration').show();
            }
        }

    </script>

}


<style>
    .section {
        padding: 5px;
        border-color: black;
        border-bottom-style: solid;
        border-bottom-width: thin;
        border-left-style: solid;
        border-left-width: thin;
        border-right-style: solid;
        border-right-width: thin;
    }
</style>

<style>
    .myButton {
        -moz-box-shadow: inset 0px 1px 3px 0px #91b8b3;
        -webkit-box-shadow: inset 0px 1px 3px 0px #91b8b3;
        box-shadow: inset 0px 1px 3px 0px #91b8b3;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
        background: -moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
        background: -webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
        background: -o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
        background: -ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
        background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
        background-color: #768d87;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        border: 1px solid #566963;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 15px;
        font-weight: bold;
        padding: 11px 23px;
        text-decoration: none;
        text-shadow: 0px -1px 0px #2b665e;
    }

        .myButton:hover {
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
            background: -moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
            background: -webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
            background: -o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
            background: -ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
            background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
            background-color: #6c7c7c;
        }

        .myButton:active {
            position: relative;
            top: 1px;
        }
</style>
